body{
	font: 15px Lato, sans-serif;
	color: #000;
}

h4{
	margin: 10px 0 30px 0;
	letter-spacing: 10px;
	font-size: 20px;
	color: #111;
}

#servicios{
	background-color: #1f4068;
	color: white;
}

#servicios h2{
	text-align: center;
}

.serv{
	border-radius: 100%;
	margin-bottom: 5%;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 10%;
}

#entrevista,
#capacitacion{
	display: inline-block;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 5%;
}

#entrevista h3,
#capacitacion h3{
	margin-left: 35%;
}

#servicios p{
	text-align: center;
	padding-bottom: 5%;
}

#testimonios{
	background-color: #1b1b2f;
}

#testimonios img{
	display: inline-block;
	padding-top: 0px;
}

#testimonios h3{
	color: #fff;
	margin-top: 0%;
	display: inline-block;
	margin-left: 50%;
	margin-top: 0%;
}

#testimonios h2{
	color: #fff;
}

#p1{
	display: inline-block;
}

.arriba{
	margin-left: 50%;
	padding-top: 0px;
	display: inline-block;
}

/*clase Bootstrap con CSS*/

.carousel-inner img{
	width: 100%;
}

.carousel-caption h3{
	color: #fff !important;
}

.btn{
	padding: 10px 20px;
	background-color: #f1f1f1;
	border-radius: 0;
	transition: .2s;
}

.btn:hover, .btn:focus{
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}

#logo{
	width: 25%;
	margin-left: 12%;
}

.nav-tabs li a{
	color: #777;
}

.navbar{
	font-family:'Tenali Ramakrishna', sans-serif;
	margin-bottom: 0;
	background-color: #162447;
	border: 0;
	font-size: 20px !important;
	letter-spacing: 3px;
}

.navbar li a, .navbar .navbar-brand{
	color: #fff !important;
}

.navbar-nav li a:hover{
	color: #cf7500 !important;
}

.navbar-nav li.active a{
	color: white !important;
	background-color: #29292c !important;
}

.navbar-default .navbar-toggle{
	border-color: transparent;
}

.open .dropdown-toggle{
	color: #fff;
	background-color: #555 !important;
}

#subtitulo{
	text-align: center;
}

footer{
	background-color: #ffcb74; 
}

#contacto{
	padding-left:35%;
	padding-bottom: 6%;
	background-color: #ffcb74;
	color: #1b1b2f;
}

.form-control{
	border-radius: 0;
}

textarea{
	resize: none;
}

@media (max-width: 600px){
	nav{
		padding-top: 2%;
	}
	.icon-bar {
     color: white;
     border-color: white;
     background-color: white;
	}
	#t{
		display: none;
	}
	#servicios{
		padding-top: 20%;
	}
	#myCarousel{
		display: none;
	}
	#band{
		padding-top: 80px;
	}
	#testimonios{
		display: none;
	}
	#contacto{
		text-align: left;
		padding-left: 0;
	}
}